<launch>

    <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>

    <node pkg = "joy" name="joy" type="joy_node"/>
    <param value="/dev/input/js0" name="joy/joy/dev"/>

    <node pkg="teleop_study" type="yp_teleop_study0" name="teleop_study">
        <param name="autonomous_mode" value="false" />
    </node>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
</launch>
